body.modal-open{
  overflow: hidden;
}
body{
  scroll-behavior: smooth;
}
.viewh {
    position: relative;
    background-attachment: fixed;
  height: 60vh;
  min-height: 520px;

}
.viewh .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    padding-top: 80px;
}
.rgba-black-gradient {
  background: linear-gradient(to top, rgba(0,0,0,.8) 55%,rgba(0,0,0,0) 100%);
}
.views{
  position: relative;
  overflow: hidden;
  max-height: 60vh;
  min-height: 500px;
}
.views .mask{
  position: absolute;bottom: 0;
  width: 100%;
}
#email_news{
  display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#btnForm{
  height: calc(1.5em + .75rem + 2px);
  width: calc(1.5em + .75rem + 2px);
  margin: 0;
  border: none;
  outline: none;
  border-radius: 4px;
}

.onlydesktop{
    display: block ;
}

@media (max-width: 990px) {

    .onlydesktop{
        display: none ;
    }
}
@media (max-width: 740px) {

  #filterm.fixedtop{
    top: 56px !important;
  }
  header .btn{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .views{
    min-height: auto;
  }
  .banners{
    max-width: none;
    margin-left: -50%;
    height: 60vh;
    width: auto;
  }
  .viewh {
    height: 880px;

  }
  .viewh .mask {
    padding-top: 0px;
  }

}
@media (min-width: 800px) and (max-width: 850px) {

  .viewh {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.navbar.aqua-gradient:not(.top-nav-collapse) {
  background: transparent !important;
}
#filterm{
  display: none;
}

@media (max-width: 991px) {
  #filterm{display: block;}
  #pagination{
    display: none;
  }
 .navbar:not(.top-nav-collapse) {
  background: #1c2331 !important;
 }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.card-body {
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
  }


  .map-container {
    overflow: hidden;
    position: relative;
    height: 0;
  }

  .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #cartresume {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
}
#filterm.fixedtop{
  position: fixed;
  background-color: white;
  top: 50px;
  width: 100%;
  z-index: 99;
  margin: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#pagination.fixedtop{
  position: fixed;
  background-color: white;
  top: 68px;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding-top: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}


html.home,
body.home,
header.home,
.view {
  height: 100%;
}


input.item-count-cart::-webkit-outer-spin-button,
input.item-count-cart::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.item-count-cart[type=number] {
  -moz-appearance: textfield;
}
