﻿.GridviewScrollHeader th, .GridviewScrollHeader td{ padding:5px; font-weight:bold; /*white-space:nowrap;*/word-wrap:break-word; border-right:1px solid #AAA; border-bottom:1px solid #AAA; vertical-align:middle; text-align:left; }
.GridviewScrollItem td{ padding:5px; /*white-space:nowrap;*/word-wrap:break-word; border-right:1px solid #AAA; border-bottom:1px solid #AAA; }
.GridviewScrollItemHover td{ padding:5px; /*white-space:nowrap;*/word-wrap:break-word; border-right:1px solid #AAA; border-bottom:1px solid #AAA; cursor:pointer; }
.GridviewScrollItemHover .Freeze{ background-color:#CCC; }
.GridviewScrollItemSelected td{ padding:5px; /*white-space:nowrap;*/word-wrap:break-word; border-right:1px solid #AAA; border-bottom:1px solid #AAA; color:#FFF; }
.GridviewScrollPager{ border-top:1px solid #AAA; }
.GridviewScrollPager td{ padding-top:3px; font-size:14px; padding-left:5px; padding-right:5px; }
.GridviewScrollPager a{ color:#666; }
.GridviewScrollPager span{ font-size:16px; font-weight:bold; }
.GridCellDiv{ text-align:right; }